extends layoutMain

block content
	.container-fluid.headercont
		.jumbotext.jumbotext-alt
			br
			h1
				| Edit Your Profile<br>
				small Update your info below.  You can leave any of the fields blank.
				br
				br
				br
	.padding20px
	.container-fluid
		.titlestrike
			h3.title Profile Information
			p Your username is #{user.username} - and that can't be changed.  But everything below can be!
			form.form-horizontal
				fieldset
		//
			Form Name 
		legend Form Name
		//
			Text input
		.form-group
			label.col-md-4.control-label(for='firstName') First Name
			.col-md-8
			input#firstName.form-control.input-md(name='firstName', type='text', placeholder='Luke')
			span.help-block Your first name
		//
		   Text input
		.form-group
		  label.col-md-4.control-label(for='lastName') Last Name
		  .col-md-8
			input#lastName.form-control.input-md(name='lastName', type='text', placeholder='Skywalker')
			span.help-block Your last name
		//
		   Text input
		.form-group
		  label.col-md-4.control-label(for='hometown') Hometown
		  .col-md-8
			input#hometown.form-control.input-md(name='hometown', type='text', placeholder='Anywhere, USA')
			span.help-block Where you live now
		//
		   Text input
		.form-group
		  label.col-md-4.control-label(for='favGame') Favorite Game
		  .col-md-8
			input#favGame.form-control.input-md(name='favGame', type='text', placeholder='Super Mario?  Everyone likes Mario.')
			span.help-block Your very very favorite game ever.
		//
		   Text input
		.form-group
		  label.col-md-4.control-label(for='steamid') Steam ID
		  .col-md-8
			input#steamid.form-control.input-md(name='steamid', type='text', placeholder='yourusername')
			span.help-block Your username for Steam
		//
		   Text input
		.form-group
		  label.col-md-4.control-label(for='psnid') PSN ID
		  .col-md-8
			input#psnid.form-control.input-md(name='psnid', type='text', placeholder='yourusername')
			span.help-block Your Playstation Network ID
		//
		   Text input
		.form-group
		  label.col-md-4.control-label(for='xboxliveid') Xbox Live ID
		  .col-md-8
			input#xboxliveid.form-control.input-md(name='xboxliveid', type='text', placeholder='yourusername')
			span.help-block Your Xbox Live ID
		//
		   Button 
		.form-group
		  label.col-md-4.control-label(for='singlebutton') Single Button
		  .col-md-4
			button#singlebutton.btn.btn-primary(name='singlebutton') Button
