extends layoutMain

block content
	h1 I'm a placeholder! YAY.
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(src='/lib/sweet-alert.min.js')
	script(src='/lib/konami.js')
	script(src='/scripts/loginsignup.js')
	script(src='/main.js')