doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title VGTrackr
		link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap-theme.css')
		link(rel='stylesheet', type='text/css', href='http:////maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css')
		link(rel='stylesheet', type='text/css', href='lib/sweet-alert.css')
		link(rel='stylesheet', type='text/css', href='main.css')
  

	body
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') VGTrackr
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown') Browse by System
							b.caret
						ul.dropdown-menu
							li.dropdown-submenu 
								a(href='#') Atari
								ul.dropdown-menu
									li
										a(href='/consoles/Atari_2600') Atari 2600
									li
										a(href='/consoles/Atari_5200') Atari 5200
									li
										a(href='/consoles/Atari_7800') Atari 7800
									li
										a(href='/consoles/Atari_400') Atari 400/800
									li
										a(href='/consoles/Atari_Lynx') Atari Lynx
									li
										a(href='/consoles/Jaguar') Atari Jaguar
							li.dropdown-submenu
								a(href='#') Nintendo
								ul.dropdown-menu
									li
										a(href='/consoles/NES') NES
									li
										a(href='/consoles/Super_Nintendo') Super Nintendo
									li
										a(href='/consoles/Nintendo_64') Nintendo 64
									li
										a(href='/consoles/Gamecube') Gamecube
									li
										a(href='/consoles/Wii') Wii
									li
										a(href='/consoles/Wii_U') Wii U
									li
										a(href='/consoles/GameBoy') GameBoy
									li
										a(href='/consoles/GameBoy_Color') GameBoy Color
									li
										a(href='/consoles/GameBoy_Advance') GameBoy Advance
									li
										a(href='/consoles/Nintendo_DS') Nintendo DS
									li
										a(href='/consoles/Nintendo_3DS') Nintendo 3DS
									li
										a(href='/consoles/Virtual_Boy') Virtual Boy
							li.dropdown-submenu
								a(href="#") Playstation
								ul.dropdown-menu
									li
										a(href='/consoles/Playstation') Playstation
									li
										a(href='/consoles/Playstation_2') Playstation 2
									li
										a(href='/consoles/Playstation_3') Playstation 3
									li
										a(href='/consoles/Playstation_4') Playstation 4
									li
										a(href='/consoles/PSP') Playstation Portable
									li
										a(href='/consoles/PlayStation_Vita') Playstation Vita
							li.dropdown-submenu
								a(href='#') Sega
								ul.dropdown-menu
									li
										a(href='/consoles/Sega_Master_System') Sega Master System
									li
										a(href='/consoles/Sega_Genesis') Sega Genesis
									li
										a(href='/consoles/Sega_CD') Sega CD
									li
										a(href='/consoles/Sega_32X') Sega 32x
									li
										a(href='/consoles/Sega_Saturn') Sega Saturn
									li
										a(href='/consoles/Sega_Dreamcast') Sega Dreamcast
									li
										a(href='/consoles/Sega_Game_Gear') Sega Game Gear
							li.dropdown-submenu
								a(href="#") Xbox
								ul.dropdown-menu
									li
										a(href='/consoles/Xbox') Xbox
									li
										a(href='/consoles/Xbox_360') Xbox 360
									li
										a(href='/consoles/Xbox_One') Xbox One
							li.dropdown-submenu
								a(href="#") Other Consoles
								ul.dropdown-menu
									li
										a(href='/consoles/3D0') 3DO
									li
										a(href='/consoles/CD-i') CD-i
									li
										a(href='/consoles/Colecovision') Colecovision
									li
										a(href='/consoles/Commodore_64') Commodore 64
									li
										a(href='/consoles/Disney_Infinity') Disney Infinity
									li
										a(href='/consoles/Intellivison') Intellivision
									li
										a(href='/consoles/N-Gage') N-Gage
									li
										a(href='/consoles/Neo_Geo') Neo Geo
									li
										a(href='/consoles/Neo_Geo_Pocket_Color') Neo Geo Pocket Color
									li
										a(href='/consoles/Odyssey_2') Odyssey 2
									li
										a(href='/consoles/TurboGrafx-16') TurboGrafx-16
									li
										a(href='/consoles/Vectrex') Vectrex
									li
										a(href='/consoles/VIC-20') VIC-20
							li.dropdown-submenu
								a(href="#") Computer Games
								ul.dropdown-menu
									li
										a(href='/consoles/PC_Games') PC
									li
										a(href='/consoles/Macintosh') Mac
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown') My Games
							b.caret
						ul.dropdown-menu
							li
								a(href="/collection") My Collection
							li
								a(href="/tradelist") Trade List
							li
								a(href="/wantlist") Want List
							li
								a(href='/stats') Statistics
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown') Connect
							b.caret
						ul.dropdown-menu
							li
								a(href="#") My Profile
							li
								a(href="#") Browse Users
							li
								a(href="#") Inbox
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown') Other Stuff
							b.caret
						ul.dropdown-menu
							li
								a(href='/newstuff') Upcoming Features
							li
								a(href='/wtfmachine') WTF Should You Play?
					li
						a(href="/auth/logout") Logout
	block content