extends layoutLogin

block content
	if error
		h3= error

	h1 Login
	form(action="/auth/login", method="post")
		input(type="text", name="username", placeholder="Username")
		input(type="text", name="password", placeholder="Password")
		input(type="submit")

	h1 Sign Up!
	form(action="/auth/signup", method="post")
		input(type="text", name="username", placeholder="Username")
		input(type="text", name="email", placeholder="Email")
		input(type="text", name="password", placeholder="Password")
		input(type="submit")
	p We promise we won't be evil with your details, or spam you (we don't send out any kind of emails), or otherwise misbehave with your email address or info.  Pinky swear.
